<template>
  <div>
    <FormulateForm v-model="values" :schema="basicinfo" @submit="save()" @click="handleclick"  />
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  name: "BasicInfo",
  data(){
      return {
          values:{}
      }
  },
  computed: {
    basicinfo() {
      let empinfo = [
        {
          component: "h3",
          children: "Additional Info",
        },
        {
          component: "div",
          class: "d-flex d-space-between",
          children: [
            {
              label: "Secondary Phone No",
              name: "secondaryphoneno",
              validation: "required",
              class: "w-100",
            },
            {
              label: "Personal Email",
              name: "pemail",
              validation: "required",
              class: "w-100",
            },
            {
              label: "Emergency contact No",
              name: "emergencyContactno",
              help: "Please use your student email address",
              validation: "bail|required|",
              "validation-messages": {
                ends_with: "Please use a .edu email address",
              },
              class: "w-100",
            },
            {
              label:"upload Image",
              name:"image",
              type:"file",
              class:"w-100"
            }
          ],
        },
        {
            component:"div",
            class:"d-flex",
            children:[
              {
                label:"Send Email",
                name:"sendemail",
                type:"checkbox",
                class:"w-100"
              },
              {
                label:"Select Age",
                name:"slider",
                type:"range",
                class:"w-100",
                min:"10",
                max:"45",
                // show-value:true
              },
              {
                label:"Describe yourself",
                name:"details",
                type:"textarea",
                class:"w-100"
              },
              {
                label:"Gender",
                name:"gender",
                type:"radio",
                class:"w-100",
                options:{
                  "Male":"Male",
                  "Female":"Female"
                }
              }
            ]
        },
        {
            component:"div",
            class:"d-flex",
            children:[
              {
                label:"color",
                name:"color",
                type:"color",
                class:"w-100"
              },
              {
                label:"datetime-local",
                name:"datetimelocal",
                type:"datetime-local",
                class:"w-100"
              },
              {
                label:"month",
                name:"month",
                type:"month",
                class:"w-100"
              },
              {
                label:"number",
                name:"number",
                type:"number",
                class:"w-100"
              },
            ]
        },
        {
            component:"div",
            class:"d-flex",
            children:[
              {
                label:"password",
                name:"password",
                type:"password",
                class:"w-100"
              },
              {
                label:"search",
                name:"search",
                type:"search",
                class:"w-100"
              },
              {
                label:"tel",
                name:"tel",
                type:"tel",
                class:"w-100"
              },
              {
                label:"url",
                name:"url",
                type:"url",
                class:"w-100"
              },
              {
                label:"week",
                name:"week",
                type:"week",
                class:"w-100"
              },
            ]
        },
        {
          component:"div",
          class:"d-flex",
          children:[
            {
              type:'selectsearch',
              name:'user',
              label:"search user",
              options:[
                    { value: 1, label: 'Jon Doe'},
                    { value: 2, label: 'Jane Roe'},
                    { value: 3, label: 'Bob Foe'},
                    { value: 4, label: 'Ben Cho'},
                  ]
            },
            {
              type:'elementdatepicker',
              name:'elementdatepicker',
              label:'Enter Date',
              align:"right",
              placeholder:"Enter date",
              help:"Pick a date",
              // validation:"required"
            }
          ]
        },
        {
            component: "div",
            class: "d-flex",
            children:[
                {
                    type:"button",
                    label:"prev",
                    "@click":true
                },
                {
                    type:"submit",
                    label:"Save & Continue"
                }
            ]
        }
      ];
      return empinfo;
    }
  },
  methods:{
      save(){
        this.$store.dispatch('pushEmployeeInformation',{"additionalInformation":this.values})
        this.$store.dispatch('incrementStep')
      },
      handleclick(){
        this.$store.dispatch('decrementStep')
      }
  }
};
</script>

<style>
</style>