<template>
  <div>
    <FormulateForm v-model="values" :schema="basicinfo" @submit="save()"  />
    {{data.basicInformation}}
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  name: "BasicInfo",
  data(){
      return {
          values:{}
      }
  },
  mounted(){
    // if(){
    //   this.values = this.data.basicInformation
    // }
  },
  computed: {
    basicinfo() {
      let empinfo = [
        {
          component: "h3",
          children: "Emploee Info",
        },
        {
          component: "div",
          class: "d-flex d-space-between",
          children: [
            {
              label: "Employee ID",
              name: "employeeid",
              validation: "",
              class: "w-100",
            },
            {
              label: "Employee Name",
              name: "employeename",
              validation: "",
              class: "w-100",
            },
            {
              label: "Employee Email",
              name: "employeemail",
              help: "Please use your student email address",
              validation: "bail||email|ends_with:.edu",
              "validation-messages": {
                ends_with: "Please use a .edu email address",
              },
              class: "w-100",
            },
            {
              label: "Password",
              name: "password",
              validation: "|matches:/^ST-[\\d]{6}$/",
              "validation-name": "Student ID",
              class: "w-100",
            },
          ],
        },
        {
          component: "div",
          class: "d-flex d-space-between",
          children: [
            {
              label: "Phone No",
              name: "phoneno",
              validation: "",
              class: "w-100",
            },
            {
              label: "Gender",
              name: "gender",
              validation: "",
              type: "select",
              class: "w-100",
              options: {
                Male: "Male",
                Female: "Female",
                Others: "Others",
              },
            },
            {
              label: "Date Of Birth",
              name: "dob",
              type: "date",
              validation: "",
              placeholder:"Enter DOB",
              class: "w-100",
            },
            {
              label: "Date Of Joining",
              name: "dateOfJoining",
              type: "date",
              validation: "",
              class: "w-100",
            },
          ],
        },
        {
          component: "div",
          class: "d-flex d-space-between",
          children: [
            {
              label: "Agency Zone",
              name: "agencyZone",
              type: "select",
              validation: "",
              class: "w-100",
              options:[
                  "South",
                  "West",
                  "East"
              ]
            },
            {
              label: "Agency Branch",
              name: "AgencyBranch",
              type: "select",
              validation: "",
              class: "w-100",
              options: this.agencyBranch.map((branch) => {
                return {
                  label: `${branch.id} - ${branch.name}`,
                  value: `${branch.name}`,
                  id: branch.id,
                };
              }),
              valuekey: "id",
            },
            {
              label: "Deployed At",
              name: "deployedAt",
              type: "select",
              validation: "",
              class: "w-100",
              options : this.depoyedAt.map((loc)=>{
                  return {
                    label: `${loc.id} - ${loc.name}`,
                    value: `${loc.name}`,
                    id: loc.id,
                    };
              })
            },
            {
              label: "Designation",
              name: "designation",
              type: "select",
              validation: "",
              class: "w-100",
              options:[
                  "Bangalore",
                  "Chennai",
                  "Delhi"
              ]
            }
          ],
        },
        {
            component:"div",
            class:"d-flex",
            children:[
                {
                    type:"submit",
                    label:"Save & Continue"
                }
            ]
        },
      
      ];
      return empinfo;
    },
    ...mapGetters({
      agencyBranch: "branches/getBranchList",
      depoyedAt:"deployedat/getDeployedAt",
      data:"employeeInfo/getEmployeeInfo"
    })
  },
  
  methods:{
      save(){
        this.$store.dispatch('incrementStep')
        this.$store.dispatch('pushEmployeeInformation',{"basicInformation":this.values})
      }
  }
};
</script>

<style>
</style>