<template>
  <div>
    <el-table :data="familtyInformation" style="width: 100%">
      <el-table-column label="Date" prop="name"> </el-table-column>
      <el-table-column label="Relation" prop="relation"> </el-table-column>
      <el-table-column label="Address" prop="address"> </el-table-column>
      <el-table-column align="right">
        <template slot="header" slot-scope="scope">
          <el-button
            @click="drawer = true"
            type="primary"
            style="margin-left: 16px"
          >
            open
          </el-button>
        </template>
        <template slot-scope="scope">
          <el-button size="mini" @click="handleEdit(scope.$index, scope.row)"
            >Edit</el-button
          >
          <el-button
            size="mini"
            type="danger"
            @click="handleDelete(scope.$index, scope.row)"
            >Delete</el-button
          >
        </template>
      </el-table-column>
    </el-table>

    <el-drawer
      class="drawer"
      title="Create New Family Information"
      :visible.sync="drawer"
      :direction="direction"
    >
      <FormulateForm v-model="values" :schema="basicinfo" @submit="save()" />
    </el-drawer>
    <div class="d-flex">
        <FormulateInput
        type="button"
        label="Prev"
        @click="prev"
        />
        <FormulateInput
        type="button"
        label="Save & Continue"
        @click="next"
        />
    </div>
  </div>
</template>
<script>
export default {
  name: "FamilyInformation",
  data() {
    return {
      drawer: false,
      direction: "rtl",
      values: {},
      familtyInformation: [],
    };
  },
  computed: {
    basicinfo() {
      let empinfo = [
        {
          component: "div",
          class: "p-2 align-center",
          children: [
            {
              label: "Name",
              name: "name",
              validation: "required",
              class: "w-100",
            },
            {
              label: "Address",
              name: "address",
              validation: "required",
              class: "w-100",
            },
            {
              label: "Relation",
              name: "relation",
              validation: "required",
              class: "w-100",
            }
          ],
        },
        {
          component: "div",
          class: "d-flex p-2",
          children: [
            {
              type: "button",
              label: "Reset",
              "@click": true,
            },
            {
              type: "submit",
              label: "Save Information",
            },
          ],
        },
      ];
      return empinfo;
    },
  },
  methods: {
    save(){
        this.familtyInformation.push(this.values)
        this.drawer = false,
        this.values={}
    },
    next(){
        this.$store.dispatch('incrementStep')
         this.$store.dispatch('pushEmployeeInformation',{"familyInformation":this.familtyInformation})
    },
    prev(){
        this.$store.dispatch('decrementStep')
    }
  },
};
</script>
<style scoped>
.drawer {
  height: 100%;
}
</style>