<template>
  <div>
    <div class="d-flex d-space-between ">
      <div class="bg-light " v-if="!editable && childIndex==null" > <i class="el-icon-sort py-1 pt-3 "></i> </div>
      <tag :is="type"  class="bg-white p-1 w-100 m-0">{{ headerContent }} </tag>
      <div class="d-flex flex-direction-row">
        <div>
          <el-button size="mini" v-if="!editable" type="primary" icon="el-icon-edit" @click="edit" class="m-0"></el-button>
        </div>
        <div>
          <el-button size="mini" v-if="!editable" type="danger" icon="el-icon-delete" @click="deleteForm" class="m-0"></el-button>
        </div>
      </div>
    </div>
    <el-form label-position="top" v-if="editable">
      <el-form-item label="Select Header Type">
        <el-select placeholder="Please input" label="Header Type" type="select" v-model="type" class="w-100">
          <el-option v-for="item in header" :key="item.value" :label="item.label" :value="item.value" :selected="FormEditType=='New'?false:item.value==properties.type">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="Select Header Content">
        <el-input type="text" label="Enter Text" v-model="headerContent" :value="FormEditType=='New'?'':properties.text">
        </el-input>
      </el-form-item>
      <!-- <el-checkbox label="Required" v-model="required"></el-checkbox> -->
      <el-form-item>
        <el-button type="primary" @click="onSubmit">Save</el-button>
        <el-button>Cancel</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
    name:'HeaderComponent',
    props:[
      'elementIndex',
      'childIndex'
    ],
    watch: {
      elementIndex: function() { 
          this.id=this.elementIndex
      }
    },
    data(){
      return {
        id:this.elementIndex,
        delete:false,
        header:[{
          value: 'h1',
          label: 'H1'
        }, {
          value: 'h2',
          label: 'H2'
        }, {
          value: 'h3',
          label: 'H3'
        }, {
          value: 'h4',
          label: 'H4'
        }, {
          value: 'h5',
          label: 'H5'
        }],
        type:'',
        headerContent:''
      }
    },
    computed:{
      editable (){
           return  (this.delete? false :this.$store.getters['formStore/getFormEditState']({
            parentIndex: this.elementIndex,
            childIndex: this.childIndex
            }))
      },
      FormEditType(){
        return this.$store.getters['formStore/getFormType']
      },
      properties(){
        return this.FormEditType=='New'?null:this.$store.getters['formStore/getFormProperties']({
          parentIndex:this.elementIndex,
          childIndex:this.childIndex,
        })
      }
    },
    mounted(){
      this.headerContent = this.FormEditType!="New"?this.properties.text:'',
      this.type=this.FormEditType!="New"?this.properties.type:''
    },
    methods:{
      edit(){
          this.$store.commit('formStore/setEditStatus',{
              parentIndex: this.elementIndex,
              childIndex: this.childIndex,
              editStatus:true
            })
      },
      onSubmit(){
          this.$store.commit('formStore/setEditStatus',{
              parentIndex: this.elementIndex,
              childIndex: this.childIndex,
              editStatus:false,
            })
          this.$store.commit('formStore/setProperties',{
              parentIndex: this.elementIndex,
              childIndex: this.childIndex,
              component:this.type,
              children:this.headerContent
          })
      },
      deleteForm(){
        this.$store.commit('formStore/removeFormElement',{
              parentIndex: this.elementIndex,
              childIndex: this.childIndex
            })
      }
    }
}
</script>

<style>

</style>