<template>
  <div>
    <div class="d-flex d-space-between align-center">
      <div class="bg-light " v-if="!editable && childIndex==null" > <i class="el-icon-sort py-1 pt-3 "></i> </div>
      <div class="d-flex flex-direction-row w-100 bg-white p-1">
        <p class="m-0">{{label}}</p>
        <br>
        <el-input :type="type" :placeholder="placeholderText" class="w-100"> </el-input>
      </div>
      <div class="d-flex flex-direction-row">
        <div>
          <el-button size="mini" v-if="!editable" type="success" icon="el-icon-edit" @click="edit" class="m-0"></el-button>
        </div>
        <div>
          <el-button size="mini" v-if="!editable" type="default" icon="el-icon-document-copy" @click="copy" class="m-0"></el-button>
        </div>
        <div>
          <el-button size="mini" v-if="!editable" type="danger" icon="el-icon-delete" @click="deleteForm" class="m-0"></el-button>
        </div>
      </div>
    </div>
    <el-form label-position="top" v-if="editable">
      <el-form-item label="Select Input Type">
        <el-select placeholder="Select Type" label="Header Type" type="select" v-model="type" class="w-100">
          <el-option v-for="item in header" :key="item.value" :label="item.label" :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="Enter Place Holder Text">
        <el-input type="text" label="Enter Text" placeholder="Enter Placeholder" v-model="placeholderText" >
        </el-input>
      </el-form-item>
      <el-form-item label="Enter Form Label">
        <el-input type="text" label="Enter Text" placeholder="Enter Label Name" v-model="label">
        </el-input>
      </el-form-item>
      <el-form-item label="Enter Form Name">
        <el-input type="text" label="Enter Form name" placeholder="Enter Form name" v-model="name">
        </el-input>
      </el-form-item>
      <el-form-item label="Dependent On">
        <el-select placeholder="Select Dependent On Field" type="select" v-model="dependentField" class="w-100">
          <el-option v-for="item in dependentOn" :key="item.value"  :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      {{ dependentOn }}
      <!-- <el-checkbox label="Required" v-model="required"></el-checkbox> -->
      <el-form-item>
        <el-button type="primary" @click="onSubmit">Save</el-button>
        <!-- <el-button>Cancel</el-button> -->
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
    name:'HeaderComponent',
    props:[
      'elementIndex',
      'childIndex'
    ],
    watch: {
    },
    data(){
      return {
        header:[{
          value: 'text',
          label: 'text'
        }, {
          value: 'number',
          label: 'number'
        }, {
          value: 'email',
          label: 'email'
        },
        {
          value: 'textarea',
          label: 'textarea'
        }
        ],
        type:'',
        placeholderText:'',
        label:'',
        text:'',
        name:'',
        dependentField:''
      }
    },
    computed:{
        editable (){
            return  (this.delete? false :this.$store.getters['formStore/getFormEditState']({
              parentIndex: this.elementIndex,
              childIndex: this.childIndex
              }))
        },
        FormEditType(){
          return this.$store.getters['formStore/getFormType']
        },
        properties(){
        return this.FormEditType=='New'?null:this.$store.getters['formStore/getFormProperties']({
          parentIndex:this.elementIndex,
          childIndex:this.childIndex
        }) 
      },
      dependentOn(){
        return this.$store.getters['formStore/getDependentOnField']
      }
    },
    mounted(){
      this.type= this.properties.type!=undefined?this.properties.type:''
      this.placeholderText=this.properties.placeholder!=undefined?this.properties.placeholder:''
      this.label=this.properties.label!=undefined?this.properties.label:''
      this.name = this.properties.name!=undefined?this.properties.name:''
    },
    methods:{
      edit(){
          let index = this.dependentOn.findIndex(({value})=> value==this.name)
          if(index != -1)
            console.log(index,this.dependentOn.splice(index,1))
          this.$store.commit('formStore/setEditStatus',{
            parentIndex: this.elementIndex,
            childIndex: this.childIndex,
            editStatus:true
          })
      },
      onSubmit(){
          this.$store.commit('formStore/setProperties',{
              parentIndex: this.elementIndex,
              childIndex: this.childIndex,
              type:this.type,
              editable:false,
              placeholder:this.placeholderText,
              label:this.label,
              name:this.name,
              dependentOn:this.dependentField,
              component:'FormulateInput'
          })
      },
      deleteForm(){
        this.$store.commit('formStore/removeFormElement',{
            parentIndex: this.elementIndex,
            childIndex: this.childIndex
           })
      },
      copy(){
        
      }
    }
}
</script>

<style>

</style>