<template>
  <div class="tab-wrapper">
      <el-select  class="w-100" v-model="layout" >
        <el-option v-for="option in layouts" :key="option.id" :label="option.value" :value="option.value">
        </el-option>
    </el-select>
    <div class="d-flex flex-wrap w-100">
    <div
      v-for="(element,index) in formGenerated[elementIndex].children"
      :key="element.id"
      :class="layout"
    >
          <component
            v-bind:is="element.componentType"
            v-if="!element.deleted"
            :elementIndex="elementIndex"
            :childIndex="index"
            class="w-100"
        ></component>
    </div>
    </div>
    <div class="text-center">
      <el-dropdown @command="selectedelement">
        <el-button type="primary">
          Add New Item<i class="el-icon-arrow-down el-icon--right"></i>
        </el-button>
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item command="FormHeaderComponent"
            >Heading</el-dropdown-item
          >
          <el-dropdown-item command="FormInputComponent"
            >Input</el-dropdown-item
          >
          <el-dropdown-item command="FormSelectComponent"
            >Select</el-dropdown-item
          >
          <el-dropdown-item command="FormCheckboxComponent"
            >Checkbox</el-dropdown-item
          >
          <el-dropdown-item command="FormRadioComponent"
            >Radio</el-dropdown-item
          >
        </el-dropdown-menu>
      </el-dropdown>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
    props:[
        'elementIndex'
    ],
    data(){
      return{
        layout:"layout-1",
        layouts:[
            {
                id:"layout-1",
                value:"layout-1"
            },
            {
                id:"layout-2",
                value:"layout-2"
            },
            {
                id:"layout-3",
                value:"layout-3"
            },
            {
                id:"layout-4",
                value:"layout-4"
            }
        ]
    }
    },
  computed: {
    ...mapGetters({
      formGenerated: "formStore/getFormGenerated",
      // reRender:'formStore/getreRenderStaus'
    }),
    FormEditType(){
        return this.$store.getters['formStore/getFormType']
    },
    properties(){
      return this.FormEditType=='New'?null:this.$store.getters['formStore/getFormProperties']({
        parentIndex:this.elementIndex,
        childIndex:null
      })
    }
  },
  mounted(){
    if(this.properties.class!= undefined){
      this.layout = this.properties.class
    }
  },
  methods: {
    selectedelement(command) {
      length = this.formGenerated[this.elementIndex].children.length;
      this.$store.commit("formStore/updateTheTabComponent", {
        index:this.elementIndex,
        item :{
            id: length,
            componentType: command,
            editable: true,
            deleted: false
        }
      })},
      updateEdit(){
        this.showTabText=!this.showTabText
      },

    
  },
};
</script>

<style>
.tab-wrapper {
  background-color: rgb(240, 240, 240);
  box-shadow: 5px 4px 15px 0px rgb(206, 206, 206);
  padding: 5px;
  margin-top: 50px;
}
.tab-name{
  margin-top: -30px;
  background-color: white;
  padding: 10px;
}

</style>