<template>
  <div>
    <div class="d-flex d-space-between">
      <div class="bg-light " v-if="!editable && childIndex==null" > <i class="el-icon-sort py-1 pt-3 "></i> </div>
      <div class="d-flex flex-direction-row w-100 bg-white p-1">
        <p class="m-0">{{label}}</p>
        <br>
        <el-select :placeholder="placeholderText" class="w-100" v-model="selectedValue" >
            <el-option v-for="option in options" :key="option.id" :label="option.value" :value="option.value">

            </el-option>
        </el-select>
      </div>
      <div class="d-flex flex-direction-row">
        <div>
          <el-button size="mini" v-if="!editable" type="success" icon="el-icon-edit" @click="edit" class="m-0"></el-button>
        </div>
        <div>
          <el-button size="mini" v-if="!editable" type="default" icon="el-icon-document-copy" @click="copy" class="m-0"></el-button>
        </div>
        <div>
          <el-button size="mini" v-if="!editable" type="danger" icon="el-icon-delete" @click="deleteForm" class="m-0"></el-button>
        </div>
      </div>
    </div>
    <el-form label-position="top" v-if="editable">
      <el-form-item label="Enter Place Holder Text">
        <el-input type="text" placeholder="Enter placeholder text"  label="Enter Text" v-model="placeholderText">
        </el-input>
      </el-form-item>
      <el-form-item label="Enter Form Label">
        <el-input type="text" placeholder="Form label" label="Enter Text" v-model="label">
        </el-input>
      </el-form-item>
      <el-form-item label="Enter Form Name">
        <el-input type="text" placeholder="Form Name" label="Enter Name" v-model="name">
        </el-input>
      </el-form-item>
      <el-form-item label="Dependent On">
        <el-select placeholder="Select Dependent On Field" type="select" v-model="dependentField" class="w-100">
          <el-option v-for="item in dependentOn" :key="item.value"  :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      <!-- <el-checkbox label="Required" v-model="required"></el-checkbox> -->
    <div class="options-wrapper">
      <div v-if="options==0">
        <p>Options Not Added</p>
      </div>
        <div class="d-flex" v-for="(option,index) in options" :key="option.id">
            <el-input type="text" v-model="option.value" ></el-input>
            <!-- <el-input value=""></el-input> -->
            <el-button type="danger" size="mini"  icon="el-icon-delete" @click="deleteOption(index)"></el-button>
        </div>
      <el-button type="primary" size="mini" @click="addOption" >Add Options</el-button>
    </div>
      <el-form-item>
        <el-button type="primary" @click="onSubmit">Save</el-button>
        <!-- <el-button>Cancel</el-button> -->
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
    name:'HeaderComponent',
    props:[
      'elementIndex',
      'childIndex'
    ],
    watch: {
      elementIndex: function() { 
          this.id=this.elementIndex
      }
    },
    data(){
      return {
        selectedValue:'',
        placeholderText:'',
        label:'Label',
        options:[],
        tempOptions:[],
        name:""
      }
    },
     computed:{
      editable (){
           return  (this.delete? false :this.$store.getters['formStore/getFormEditState']({
            parentIndex: this.elementIndex,
            childIndex: this.childIndex
            }))
      },
      FormEditType(){
        return this.$store.getters['formStore/getFormType']
      },
      properties(){
        return this.FormEditType=='New'?null:this.$store.getters['formStore/getFormProperties']({
          parentIndex:this.elementIndex,
          childIndex:this.childIndex
        })
      },
       dependentOn(){
        return this.$store.getters['formStore/getDependentOnField']
      }
    },
    mounted(){
      this.options= this.properties.options!=undefined?[...this.properties.options]:[]
      this.placeholder= this.properties.placeholder!=undefined?this.properties.placeholder:'',
      this.label= this.properties.label!=undefined?this.properties.label:'',
      this.name = this.properties.name!=undefined?this.properties.name:''
    },
    methods:{
      
    //   add options to select
      addOption(){
          this.options.push({
              id:this.options.length,
              value:'',
          })
      },
    //   delete Options from Select
      deleteOption(index){
          console.log(index)
          this.options.splice(index,1)
      },
      edit(){
        let index = this.dependentOn.findIndex(({value})=> value==this.name)
          if(index != -1)
            console.log(index,this.dependentOn.splice(index,1))
          this.$store.commit('formStore/setEditStatus',{
            parentIndex: this.elementIndex,
            childIndex: this.childIndex,
            editStatus:true
            })
      },
      onSubmit(){
          this.$store.commit('formStore/setEditStatus',{
            parentIndex: this.elementIndex,
            childIndex: this.childIndex,
            editStatus:false
            })
            this.tempOptions = []
            this.options.forEach((e,i)=>{
              this.tempOptions.push({
                value:e.value,
                label:e.value
              })
            })
          this.$store.commit('formStore/setProperties',{
              parentIndex: this.elementIndex,
              childIndex: this.childIndex,
              options:this.tempOptions,
              label:this.label,
              name:this.name,
              type:"select",
              placeholder:this.placeholderText,
              component:'FormulateInput'
          })
      },
      deleteForm(){
        this.$store.commit('formStore/removeFormElement',{
            parentIndex: this.elementIndex,
            childIndex: this.childIndex
            })
      }
    }
}
</script>

<style>

</style>