<template>
<div class="d-flex">

  <div class="tab-wrapper w-100">
    <h2 class="tab-name">{{ tabName }} <el-button type="success" size="mini" v-if="!showTabText" icon="el-icon-edit" @click="updateEdit"></el-button></h2>
    <el-form v-if="showTabText">
      <el-form-item>
        <el-input type="primary" placeholder="Enter Tab Name" v-model="tabName" @blur="updateEdit">
           <el-button slot="append" type="success" icon="el-icon-check" @click="updateEdit"></el-button>
        </el-input>
      </el-form-item>
      <el-form-item>
        <el-select class="w-100" v-model="layout" >
            <el-option v-for="option in layouts" :key="option.id" :label="option.value" :value="option.value">
            </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-select class="w-100" v-model="tabSectionName" >
            <el-option v-for="option in tabSection" :key="option.id" :label="option.value" :value="option.value">
            </el-option>
        </el-select>
      </el-form-item>
    </el-form>
    <div class="d-flex flex-wrap">
    <div
      v-for="(element,index) in formGenerated[elementIndex].children"
      :key="element.id"
      :class="layout"
    >
      <component
        v-bind:is="element.componentType"
        v-if="!element.deleted"
        :elementIndex="elementIndex"
        :childIndex="index"
        class="w-100"
      ></component>

    </div>
    </div>
    <div class="text-center" >
      <el-dropdown @command="selectedelement">
        <el-button type="primary">
          Add New Item<i class="el-icon-arrow-down el-icon--right"></i>
        </el-button>
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item command="FormHeaderComponent"
            >Heading</el-dropdown-item
          >
          <el-dropdown-item command="FormInputComponent"
            >Input</el-dropdown-item
          >
          <el-dropdown-item command="FormSelectComponent"
            >Select</el-dropdown-item
          >
          <el-dropdown-item command="FormCheckboxComponent"
            >Checkbox</el-dropdown-item
          >
          <el-dropdown-item command="FormRadioComponent"
            >Radio</el-dropdown-item
          >
        </el-dropdown-menu>
      </el-dropdown>
    </div>
  </div>
  <div>
    <div class="d-flex flex-direction-row">
        <div>
          <el-button size="mini" v-if="!editable" type="success" icon="el-icon-edit" @click="edit" class="m-0"></el-button>
        </div>
        <div>
          <el-button size="mini" v-if="!editable" type="default" icon="el-icon-document-copy"  class="m-0"></el-button>
        </div>
        <div>
          <el-button size="mini" v-if="!editable" type="danger" icon="el-icon-delete" @click="deleteForm" class="m-0"></el-button>
        </div>
      </div>
  </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
    props:[
        'elementIndex',
        'childIndex'
    ],
    data(){
      return{
        tabName:'',
        showTabText:true,
        layout:"layout-1",
        layouts:[
            {
                id:"layout-1",
                value:"layout-1"
            },
            {
                id:"layout-2",
                value:"layout-2"
            },
            {
                id:"layout-3",
                value:"layout-3"
            },
            {
                id:"layout-4",
                value:"layout-4"
            }
        ],
        tabSectionName:''
      }
    },
  computed: {
    ...mapGetters({
      formGenerated: "formStore/getFormGenerated",
    }),
    FormEditType(){
        return this.$store.getters['formStore/getFormType']
    },
    properties(){
      return this.FormEditType=='New'?null:this.$store.getters['formStore/getFormProperties']({
        parentIndex:this.elementIndex,
        childIndex:null
      })
    },
    editable (){
      return  (this.delete? false :this.$store.getters['formStore/getFormEditState']({
        parentIndex: this.elementIndex,
        childIndex: this.childIndex
      }))
    },
    tabSection(){
      return this.$store.getters['formStore/getFormSection']
    }
  },
  mounted(){
    if(this.properties.name!= undefined){
      this.tabName= this.properties.name
      this.showTabText=false
      this.layout =this.properties.class
    }
  },
  methods: {
    selectedelement(command) {
      length = this.formGenerated[this.elementIndex].children.length;
      this.$store.commit("formStore/updateTheTabComponent", {
        index:this.elementIndex,
        item :{
            id: length,
            componentType: command,
            editable: true,
            deleted: false
        }
      })},
      updateEdit(){
        this.showTabText=!this.showTabText
        this.$store.commit("formStore/setProperties",{
              parentIndex: this.elementIndex,
              childIndex: this.childIndex,
              component:'el-tab-pane',
              label:this.tabName,
              name:this.tabSectionName
        })
      },
      edit(){

      },
      deleteForm(){

      },
      copy(){

      }
    
  },
};
</script>

<style>
.tab-wrapper {
  background-color: rgb(240, 240, 240);
  box-shadow: 5px 4px 15px 0px rgb(206, 206, 206);
  padding: 5px;
  margin-bottom: 10px;
}
.tab-name{
  margin-top: -30px;
  background-color: white;
  padding: 10px;
}
</style>