.d-flex{
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
.d-space-between{
    justify-content: space-between;
}
.w-100{
    width: 100%;
}
.p-2{
    padding: 20px;
}
.p-1{
    padding: 10px;
}
.text-center{
    text-align: center;
}
.m-0{
    margin: 0;
}
.mb-1{
    margin-bottom: 10px;
}
.mb-2{
    margin-bottom: 20px;
}   
.mb-3{
    margin-bottom: 30px;
}
.align-content-center{
    align-items: center;
    justify-content: center;
    align-content: center;
}
.flex-column{
    flex-direction: column;
}
.d-space-flex-start{
    justify-content: flex-start;
}
.align-center{
    margin: 0 auto;
}
.formulate-input-group{
    // width: 100% !important;
    max-width: 100% !important;
}
.formulate-input-group-repeatable {
    border-bottom: none !important;
    .formulate-input{
        margin: 0;
        border-bottom: none;
    }
}
.text-capitalize{
    text-transform:uppercase;
}
.bg-gray{
    background-color: rgb(238, 238, 238);
}
.bg-white{
    background-color: white;
}
.border-black-solid-1{
    border: 1px solid rgb(177, 177, 177);
}
.flex-direction-row{
    flex-direction: column;
}
.align-middle{
    align-self: center;
    align-items: stretch;
}
.align-center{
    align-content: center;
}
.pt-3{
    padding-top: 30px;
}
.py-1{
    padding-left: 5px;
    padding-right:5px;
}
.bg-light{
    background-color: rgb(226, 224, 224);
}
.layout-1{
    flex-grow: 1;
    width: 100%;
}
.layout-2{
    flex-grow: 1;
    width:50%
}
.layout-3{
    flex-grow: 1;
    width: 33%;
}
.layout-4{
    flex-grow: 1;
    width: 25%;
}