<template>
  <div>
    <el-tabs :value="getStep">
      <el-tab-pane label="Basic Information" name="1">
        <BasicInfo />
      </el-tab-pane>
      <el-tab-pane label="Additional Info" name="2">
        <AddtionalInfo />
      </el-tab-pane>
      <el-tab-pane label="Role" name="3">
        <FamilyInformation />
      </el-tab-pane>
      <el-tab-pane label="Output" name="4">
        {{ getEmployeeInformation }}
      </el-tab-pane>
      
    </el-tabs>
  </div>
</template>

<script>
import BasicInfo from '../../components/employee/BasicInfo.vue';
import AddtionalInfo from '../../components/employee/AdditionalInfo.vue'
import FamilyInformation from '../../components/employee/FamilyInformation.vue'

import {mapGetters} from 'vuex';
export default {
  layout:"main",
  components: { 
    BasicInfo,
    AddtionalInfo,
    FamilyInformation
   },
    watch:{
      
    },
  computed:{
    ...mapGetters(['getStep','getEmployeeInformation'])
  }
};
</script>

<style scoped>

</style>