<template>
<div>
  <el-menu
    :default-active="activeIndex"
    class="el-menu-demo"
    mode="horizontal"
    @select="handleSelect"
    :router="true"
  >
    <el-menu-item index="/employees" id="1">Individual Schemas</el-menu-item>
    <el-menu-item index="/tabusingschema" id="2">Tab using schema</el-menu-item>
    <el-menu-item index="/formgenerate" id="3">Form Generate</el-menu-item>
    <el-menu-item index="/formgeneratenewlayout" id="4">Form Generate 2</el-menu-item>
    <el-menu-item index="/testConditional" id="5">conditional</el-menu-item>
    <el-menu-item index="/conditional-trial" id="5">conditional 1</el-menu-item>
    <el-menu-item index="/conditional-trial2" id="5">conditional 2</el-menu-item>
  </el-menu>
  <Nuxt />
  </div>
</template>
<script>
export default {
  data() {
    return {
      activeIndex: "1",
    };
  },
  methods: {
    handleSelect(key, keyPath) {
      console.log(key, keyPath);
    },
  },

};
</script>