<template>
  <div>
      <FormulateForm
        v-model="formValues"
        :schema="tempJSON"
        />
  </div>
</template>

<script>
const schema = [
            {
                type: "radio",
                options: [{ value : 'A', label : 'A'},{ value : 'B', label : 'B'}],
                dependentOn:null,
                label: 'Do you like a or b?',
                name: 'question',
                id: 'question'
            },
            {
                type: 'text',
                dependentOn:'question',
                whenValue:'B',
                render:false,
                name: 'c',
                id: 'c',
                label: 'If you like b, then you must like c!'
            },
            {
                type: "select",
                options: [{ value : 'A', label : 'A'},{ value : 'B', label : 'B'}],
                dependentOn:null,
                label: 'Do you like a or b?',
                name: 'select',
                id: 'select'
            },
            {
                type: "checkbox",
                options: [{ value : 'Yes', label : 'Yes'},{ value : 'No', label : 'No'}],
                dependentOn:null,
                label: 'Are you alone',
                name: 'family',
                id: 'family'
            },
            {
                type: "number",
                dependentOn:"family",
                whenValue:'Yes',
                label: 'How many members?',
                name: 'members',
                id: 'members'
            } 
        ]

export default {
    layout:"main",  
  data () {
    return {
      formValues: {},
      tempJSON:[]
    }
  },
  watch:{
      formValues(){
          for(var key in this.formValues){
            schema.forEach((e,i)=>{
                if(e.dependentOn == key && e.whenValue == this.formValues[key]){
                    var index = this.tempJSON.findIndex(({name})=> name == e.dependentOn)
                    var exist = this.tempJSON.findIndex(({name})=> name == e.name)
                    if(exist == -1)
                        this.tempJSON.splice(index+1,0,e)
                }
                else if(e.dependentOn == key && e.whenValue != this.formValues[key]){
                    var exist = this.tempJSON.findIndex(({name})=> name == e.name)
                    if(exist != -1)
                        this.tempJSON.splice(exist,1)
                }
            })
        }
      }
  },
    mounted(){
        this.tempJSON =schema.filter((e) => e.dependentOn == null)
    }
}
</script>

