<template>
  <div class="bg-gray p-1">
    
    <div class="form-wrapper">
      <div class="d-flex d-space-between mb-3">
        <div>

        </div>
        <div>
          <el-button type="secondary"  @click="preview">Preview</el-button>
          <el-button type="success">Save Item</el-button>
        </div>
      </div>
      <el-form v-model="formDetails">
        <el-form-item>
          <el-input
            type="text"
            autosize
            placeholder="Please input"
            v-model="formDetails.name"
          >
          </el-input>
        </el-form-item>
        <el-form-item>
          <el-input
            type="textarea"
            placeholder="form Description"
            v-model="formDetails.desciption"
          >
          </el-input>
        </el-form-item>
      </el-form>
      
    </div>
    <div class="form-generator" >
      
         <div v-for="(element,index) in formGenerated"  :key="element.id" draggable @dragstart="startDrag($event,index)" @dragover.prevent @dragenter="enter($event,index)" @drop="drop($event)">
            <component  v-bind:is="element.componentType"  v-if="!element.deleted" :elementIndex="index" :childIndex="null" class="w-100"></component>            
        </div>
    </div>
    <!-- {{ index }} -->
    <div class="text-center" >
        <el-dropdown @command="selectedelement">
            <el-button type="primary">
                Add New Item<i class="el-icon-arrow-down el-icon--right"></i>
            </el-button>
            <el-dropdown-menu slot="dropdown" >
                <el-dropdown-item command="FormHeaderComponent">Heading</el-dropdown-item>
                <el-dropdown-item command="FormInputComponent">Input</el-dropdown-item>
                <el-dropdown-item command="FormSelectComponent">Select</el-dropdown-item>
                <el-dropdown-item command="FormCheckboxComponent">Checkbox</el-dropdown-item>
                <el-dropdown-item command="FormRadioComponent">Radio</el-dropdown-item>
                <el-dropdown-item command="FormTabComponent">Create Tab</el-dropdown-item>
                <el-dropdown-item command="FormLayout">Layout</el-dropdown-item>
            </el-dropdown-menu>
        </el-dropdown>
    </div>
    <el-dialog
      title="Preview"
      :visible.sync="dialogVisible"
      width="30%"
      >
      <FormulateForm
        v-model="formValues"
        :schema="generatedForm"
        v-if="dialogVisible"
      />
      
    </el-dialog>
    {{ formGenerated }}
  </div>
</template>

<script>
import {mapGetters} from 'vuex'
export default {
  layout: "main",
  data() {
    return {
      formDetails:{
          name:'Untitled Form',
          description:'Form description'
      },
      formSelected:false,
      formInsertElement:'',
      startIndex:null,
      endIndex:null,
      formValues:[],
      dialogVisible: false,
      generatedForm:[]
    };
  },
  computed: {
      ...mapGetters({
        formGenerated:'formStore/getFormGenerated',
        // reRender:'formStore/getreRenderStaus'
      })
  },
  methods: {
    // set edited index as true after click on add item
    // after save edit index as false
    //mark deleted index as false to be able to render in component
      selectedelement(command){
          length=this.formGenerated.length
          this.$store.dispatch('formStore/addToFormGenerated',{
              id:length,
              componentType:command,
              editable:true,
              deleted:false,
              children:[]
          })
      },
      // onDragging of the element get the index and store
      startDrag(evt,index){
        this.startIndex=index
      },
      enter(evt,index){
        this.endIndex=index
      },
      drop(evt){
        // this.$store.commit('formStore/reRender',true)
        this.$store.dispatch('formStore/swapItems',{
          start:this.startIndex,
          end:this.endIndex
        })
      },
      preview(){
          this.dialogVisible = !this.dialogVisible
          // this.formGenerated.forEach((item)=>{
          //   // this.generatedForm
          // })
      }
  },
};
</script>

<style lang="scss">
.form-wrapper{
    max-width: 600px;
    margin: 10px auto;
}
.form-generator{
    max-width: 600px;
    margin: 5px auto;
}
</style>