<template>
    <div class="d-flex d-space-between">
        <div class="form-elements-wrapper">
            <!-- <el-collapse  v-for="element in formElements" :key="element.id">
                <el-collapse-item :title="element.type" class="">
                    <h3 class="text-capitalize">{{ element.type }}</h3>
                </el-collapse-item>
            </el-collapse> -->
            <div v-for="element in formElements" :key="element.id">
                <div class="element" draggable @dragstart="startDrag($event,element.id)">
                    <p>{{ element.type }}</p>
                </div>
            </div>
        </div>
        <div class="form-generator-wrapper" @drop="onDrop($event)" @dragover.prevent @dragenter.prevent>
            <div v-for="element in formGenerated" :key="element.id">
                <div class="element" >
                    <p>{{ element.type }}</p>
                </div>
                <component v-if="element.editable" v-bind:is="element.componentType"></component>
            </div>
        </div>
        <div class="form-generated-wrapper">
            <FormulateForm :schema="formGenerated" />
        </div>
    </div>
</template>

<script>
export default {
    layout:'main',
    data(){
        return {
            formElements:[
                {
                    id:"7",
                    "component":"h3",
                    "children":"heading",
                    "label":"h3",
                    type:"h2",
                    componentType:"FormHeaderComponent",
                    editable:true
                },
                {
                    id:"1",
                    type:"text"
                },
                {
                    id:"2",
                    type:"select"
                },
                {
                    id:"3",
                    type:"radio"
                },
                {
                    id:"4",
                    type:"email"
                },
                {
                    id:"5",
                    type:"date"
                },
                {
                    id:"6",
                    type:"number"
                }
            ],
            formGenerated:[]
        }
    },
    computed:{

    },
    methods:{
        startDrag(evt,item){
            evt.dataTransfer.dropEffect = 'copy'
            evt.dataTransfer.effectAllowed = 'copy'
            evt.dataTransfer.setData('selectedelement',item)
            console.log(item)
        },
        onDrop(evt){
            const selectedelement = evt.dataTransfer.getData('selectedelement')
            const getselectedelement = this.formElements.find(element => element.id == selectedelement)
            this.formGenerated.push(getselectedelement)
            console.log(this.formGenerated)
        }
    }
}
</script>

<style lang="scss">

.form-elements-wrapper,.form-generator-wrapper{
    min-width: 450px;
    background-color: rgb(221, 221, 221);
    height: 90vh;
}
.form-generated-wrapper{
    min-width: 550px;
    background-color: rgb(248, 248, 248);
}
.form-elements-wrapper,.form-generator-wrapper{
    .element{
        margin: 10px 5px;
        padding: 5px 15px;
        background-color: white;
    }
}
.form-generator-wrapper{
    padding: 0 10px;
}
</style>