<template>
  <div>
    <FormulateForm
      v-model="familyInformation"
      :schema="familyInformationSchema"
      @submit="save()"
    />
    <!-- {{ userAction }} -->
  </div>
</template>

<script>
export default {
    data(){
        return{
            familyInformation:{}
        }
    },
    computed:{
        familyInformationSchema(){
            let schema = [
                {
                    "type":"group",
                    "name":"familyInformation",
                    "label":"provide your family information",
                    "add-label":"Add Member",
                    "repeatable":true,
                    "class":"d-flex",
                    children:[
                        {
                            "type":"email",
                            "name":"email",
                            "validation":"required|email",
                            "label":"Name"
                        },
                        {
                            "type":"select",
                            "name":"address",
                            "validation":"",
                            "label":"address",
                            "options": data
                        },
                        {
                            "type":"text",
                            "name":"email",
                            "validation":"",
                            "label":"Address"
                        }
                    ]
                }
            ]
            return schema
        }
    },
    mounted(){
       data = this.userAction()
    },
    methods:{
        userAction : async () => {
        const response = await fetch('https://jsonplaceholder.typicode.com/posts');
        const myJson = await response.json(); //extract JSON from the http response
        // do something with myJson
        // console.log(myJson)
        return myJson.map((post)=>{
            return {
                "id":post.userId,
                "value":post.title
            }
        })
        
        }
    }
}
</script>

<style>
</style>