<template>
  <div>
    <FormulateForm v-model="values" :schema="schema" @submit="save()" />
  </div>
</template>
<script>
export default {
  layout:'main',
  data() {
    return {
      values: {},
    };
  },
  computed: {
    schema() {
      let structure = [
        {
          component: "el-tabs",
          type:"border-card",
          tabPosition:"left",
          value: "1",
          children: [
            {
              component: "el-tab-pane",
              label: "BASIC INFORMATION",
              name: "1",
              children: [
                {
                  label: "Employee ID",
                  name: "employeeid",
                  validation: "",
                  class: "w-100",
                },
                {
                  label: "Next",
                  name: "next",
                  validation: "",
                  class: "w-100",
                  type:"button",
                  click:true
                }
              ],
            },
            {
              component: "el-tab-pane",
              label: "ADDITION INFORMATION",
              name: "2",
              children: [
                {
                  label: "Address",
                  name: "address",
                  validation: "",
                  class: "w-100",
                },
                {
                  label:"Select Previous As Permanent",
                  name:"selectPrevAddress",
                  validation:"",
                  options:{
                    'Yes':'Yes',
                    'No':'No'
                  },
                  type:"radio"
                },
                {
                  label:"premanent Address",
                  name:"permanentAddress",
                  model:"address",
                },
                {
                  component:"div",
                  class:"d-flex d-space-flex-start",
                  children:[
                    {
                      label: "Prev",
                      name: "prev",
                      validation: "",
                      class: "w-100",
                      type:"button",
                      click:true
                    },
                    {
                      label: "Next",
                      name: "next",
                      validation: "",
                      class: "w-100",
                      type:"button",
                      click:true
                    }
                  ]
                }
              ],
            },
            {
              component: "el-tab-pane",
              label: "FAMILY INFORMAION",
              name: "3",
              children: [
                {
                  type: "group",
                  name: "familyInformation",
                  label: "provide your family information",
                  "add-label": "Add Member",
                  repeatable: true,
                  class:"w-100",
                  children: [
                    {
                      component: "div",
                      class: "d-flex d-space-between",
                      children: [
                        {
                          type: "email",
                          name: "email",
                          validation: "required|email",
                          label: "Name",
                        },
                        {
                          type: "text",
                          name: "address",
                          validation: "",
                          label: "address",
                        
                        },
                        {
                          type: "text",
                          name: "email",
                          validation: "",
                          label: "Address",
                        }
                      ],
                    },
                  ],
                },
                {
                  component:"div",
                  class:"d-flex",
                  children:[
                    {
                      label: "Prev",
                      name: "prev",
                      validation: "",
                      class: "w-100",
                      type:"button",
                      click:true
                    },
                    {
                      label: "submit",
                      name: "next",
                      validation: "",
                      class: "w-100",
                      type:"button"
                    }
                  ]
                }
              ]
            }
          ],
        },
      ];
      return structure;
    },
  },
  methods:{
    save(){
      this.$store.dispatch('incrementStep')
      // this.$store.dispatch('pushEmployeeInformation',{"basicInformation":this.values})
    },
    prev(){
      this.$store.dispatch('decrementStep')
    }
  }
};
</script>
