<template>
    <div>
        <el-date-picker
        v-model="context.model"
        type="date"
        v-bind="context.attributes"
       
        >
        </el-date-picker>
        <!-- <help>
            <p class="help">
                {{ context.help }}
            </p>
        </help>
        <error>
            <p class="errors">
                {{ context.errors }}
            </p>
        </error> -->
    </div>
</template>
<script>
export default {
    props: {
        context: {
            type: Object,
            // required: true
        },
    },
    watch:{
    },
    computed:{
        model () {
        return this.context.model
        }
    },
    methods:{
        // focusHandler(){
        //     // return this.context.model
        //     console.log('change')
        // },
        // blurHandler(){
        //     console.log('blur')
        // }
    }
}
</script>
<style scoped>
    .help{
        color: blue;
    }
</style>