<template>
  <el-select v-model="context.model" filterable placeholder="Select">
    <el-option
      v-for="item in options"
      :key="item.value"
      :label="item.label"
      :value="item.value">
    </el-option>
  </el-select>
  
</template>

<script>
export default {
    props: {
    context: {
        type: Object,
        required: true
        },
    },
    computed:{
        model () {
        return this.context.model
        },
        options(){
            return this.context.options   
        }
    }
}
</script>

<style>

</style>